
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  padding: 0;
}




::ng-deep .p-dropdown-panel {
  z-index: 9999 !important;
}

::ng-deep .p-password-panel {
  z-index: 9998 !important;
}
.dashboard-content {
  display: flex;
  flex-direction: column;
  padding-left: 78px;
  transition: padding-left 0.5s ease;
}

.main-layout.sidebar-active .dashboard-content {
  padding-left: 240px;
background: #11101d82;
}

.page-body{
    height: 90vh;
}