<div class="main-layout" [class.sidebar-active]="isSidebarActive">
  <app-sidebar (toggleSidebar)="isSidebarActive = $event"></app-sidebar>

  <div class="dashboard-content" (click)="closeSidebarOnBodyClick()">
    <app-header></app-header>
    
    <div class="page-body">
      <div class="header-row">
        <h2>Company Dashboard</h2>
        <button class="create-btn" (click)="openModal()">+ Create Company</button>
      </div>

      <div class="company-list">
        <div class="company-item" *ngFor="let company of companies; let i = index">
          <div class="company-info">
            <p class="company-name">{{ company.name }}</p>
            <p class="company-domain">{{ company.domain }}</p>
          </div>
          <div class="company-actions">
            <button  pButton style="background-color: #37345e;border: #37345e;" (click)="openModal(i)">Update</button>
            <button  pButton style="background-color: #37345e;border: #37345e;" (click)="deleteCompany(i)" class="delete">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal-backdrop" *ngIf="isModalOpen">
      <div class="modal">
        <h3>{{ modalTitle }}</h3>
        <form (ngSubmit)="saveCompany()" #companyForm="ngForm">
          <label>Name</label>
          <input [(ngModel)]="formData.name" autocomplete="off" name="name" required />
          <label>Domain</label>
          <input [(ngModel)]="formData.domain" name="domain" required />
          <div class="modal-actions">
            <button pButton style="background-color: #37345e;border: #37345e;" type="button" (click)="closeModal()">Cancel</button>
            <button  pButton style="background-color: #37345e;border: #37345e;" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
